<h1><%= @user.username %></h1>

<ul>
  <% if @user.id == current_user.id %>
    <li><%= link_to 'Edit', edit_user_path(@user) %></li>
    <li><%= link_to 'Delete', user_path(@user), data: {
      turbo_method: :delete,
      turbo_confirm: 'Are you sure?'
    } %></li>
  <% end %>
  <li><%= link_to 'Back', root_path %></li>
</ul>

<h1>Posts</h1>

<%= render @user.posts %>
