<h1>New Post</h1>

<% flash.each do |type, msg| %>
  <div style="color:red"><%= msg %></div>
<% end %>

<div>
<%= form_with model: @post, url: user_posts_path do |form| %>
  <div>
    <%= form.label :title, 'Title:' %>
    <%= form.text_field :title %>
    <% @post.errors.full_messages_for(:title).each do |msg| %>
      <div style="color: red"><%= msg %></div>
    <% end %>
  </div>
  
  <div>
    <%= form.label :body, 'Text:' %>
    <%= form.text_area :body %>
    <% @post.errors.full_messages_for(:body).each do |msg| %>
      <div style="color: red"><%= msg %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit 'Send' %>
  </div>

<% end %>
</div>